:root {
    --bege: #F3EACB;
    --laranja-escuro: #FF4500;
}

body {
    justify-content: left;
    flex-wrap: wrap;
}

.secao-superior {
    flex-direction: row;
    display: flex;
}
    
.barra-navegacao {
    position: fixed;
    background-color: white;    
}
    
.titulo {
    background-color: #ff4500;
    color: white;
    padding-right: 18%;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
    
.barra-navegacao div a, .barra-navegacao div label {
    display: block;
    padding: 8px 16px;
}
    
.barra-navegacao div img {
    height: 200px;
    width: 200px;
}
    
.texto-1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    background-color: var(--bege);
    flex-direction: row;
    border-style: solid;
    border-color: var(--bege);
    justify-content: space-around;
    display: flex;
}

.texto-1 div {
    flex-direction: row;
    justify-content: space-around;
}

.idiomas {
    border: 1px;
    border-style: solid;
    padding: 15px;
    display: flex;
    border-radius: 10px;
}
    
.titulo-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ff4500;
}
    
.video {
    background-image: url(../img/mar.jpg);
    justify-content: center;
    color: white;
    font-family: Arial;
    width: 640px;
    height: 426px;
    justify-content: center;
}
    
.detalhes {
    float: right;
    margin-left: 10%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
    
.botao {
    background-color: #ff4500;
    padding: 10px 5px;
    color: white;
    border-radius: 10px;
}
    
.titulo-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.titulo-5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    border-color: var(--bege);
    background-color: var(--bege);
    border-style: solid;
    padding: 2%;
}

.botao-2 {
    padding: 2%;
    background-color: #ff4500;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 40%;
    margin-right: 40%;
    color: white;
    border-radius: 8%;
}
    
.texto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
    
.caixa {
    margin-top: 15px;
    border: 1px;
    padding: 15px;
    border-style: solid;
}
    
.discussoes {
    margin-left: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px;
    border-style: solid;
    padding: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.discussoes div {
    background-color: white;
}
    
.container {
    margin: 2%;
    border: 1px;
    border-style: solid;
    padding: 2%;
}

.like {
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
}

.like div {
    padding: 0px 5px;
}

.like div i {
    background-color: #ff4500;
    color: white;
    padding: 5px 10px;
    border-radius: 20%;
}
    
.titulo-4 {
    color: #ff4500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
    
footer {
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;    
}
    
main {
    margin-bottom: 2%;
}

footer {
    flex-direction: row;
    justify-content: center;
    display: flex;
}
    
footer div {
    flex-direction: column;
    padding: 2px;
    margin: 20px;
    display: flex;
}
    
.link {
    border-bottom: 1px;
    border-bottom-style: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
